<div id="cursor"></div>
<canvas id="paper" width="1900" height="1000"></canvas>

<div id="introductions">
    <h1>Welcome to Jeremy Hartmann's Interactive Resume!</h1>
    <h2>On this page, you can draw anywhere!</h2>
</div>